//- video#pretzel-video.video-playing(loop='loop', preload='auto' autoplay='true')
//-     source(src='http://www.foursigmafoods.com/video/2015intro.mp4', type='video/mp4')
//-     source(src='http://www.foursigmafoods.com/video/2015intro.webm', type='video/webm')
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br


#article-list.container.home.mymain
  section
    h1 Product Overview
    .row
      .col-sm-4.mymargin.mycenter
        h2 CM Endure
        img(src="pagepics/cordycepsportraitFixed.jpg" class="img-responsive my-height")
        h3.myboxshadow.mygrey Cordyceps Militaris 
        h4.myboxshadow.mylightgrey One of the strongest stamina boosting products found in nature. Reportedly had profound boosts on performance in the 1992 Olympic Games. Usage occurs commonly in endurane based sports such as a Track and Field, Swimming and Rowing.
      .col-sm-4.mymargin
        h2 RR Recovery
        img(src="pagepics/myrhodiola.jpg" class="img-responsive my-height")
        h3.myboxshadow.mygrey Rhodiola Rosea
        h4.myboxshadow.mylightgrey Usage of rhodiola as a daily preventative against fatigue has been reported to be effective in doses as low as 50mg. Acute usage of rhodiola for fatigue and anti-stress has been noted to be taken in the 288-680mg range.


      .col-sm-4.mymargin  
        h2 AA Agent
        img(src="pagepics/quickAshCropped.png" class="img-responsive my-height")
        h3.myboxshadow.mygrey Withania somnifera 
        h4.myboxshadow.mylightgrey (Ashwagandha) Gaba promoting agent. Reduces anxiety and perceived stress
    
          
    .row
      p dollars and sense

  //- section
  //-   p chessboard will go here
  //-   p #{myItems.length}
  //-   ul
  //-     each val in myItems
  //-       li(class=val) somecolor
  //-   div(id="myhover") hoverme
  section
    p Thanks for downloading and running <a href="http://semu.mp/node-blog.html">node-blog</a>, I really appreciate it! With node-blog you have a basic weblog system written in Node.js managed by a folder containing markdown files. All article composing can be done within the web browser using the awesome <a href="http://ace.ajax.org/">Ace editor</a>. Unfortunately there is no other way for changing the layout or static pages than to manually edit the raw jade templates, this may change in future releases…
    p You are viewing the first release of node-blog, please be kind ;) All needed information to start your own blog using node-blog and how to customize the design can be found in the <code>markdown/</code> folder or as <a href="/posts">posts on this site</a>.
  section#article
    .page-header
      h1 Recent Articles 
        small #{list.length} available, showing recent 5  
  - for (var i = 0; i < list.slice(0, 5).length; i++) 
    .row
      .span2.datefield
        code=list[i].datestring
      .span14.cLeft
        h3
          a(href=list[i].url) #{list[i].name} 
          small
            abbr.timeago(title=list[i].date.toISOString()) list[i].date.toISOString()
    .row
      .offset2.span14.cLeft
        #content!=list[i].excerpt          