//- video#pretzel-video.video-playing(loop='loop', preload='auto' autoplay='true')
//-     source(src='http://www.foursigmafoods.com/video/2015intro.mp4', type='video/mp4')
//-     source(src='http://www.foursigmafoods.com/video/2015intro.webm', type='video/webm')
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br
//- br


#article-list.container.home.mymain
  section
    .row
      .col-md-4
        p Cordyceps: Stamina, Endurance, Immunity
        img(src="pagepics/cordycepsportrait.jpg" class="img-responsive" style="width:100%;height:300px;")
      .col-md-4
        p Rhodiola Rosea: Recovery, Neurogenisis, Stress relief 
        img(src="pagepics/myrhodiola.jpg" class="img-responsive")
      .col-md-4
        p Ashwagandha: Social lubricant, Verbal Fluidity, Emotional Expression
        img(src="pagepics/circleash.jpg" class="img-responsive")

  //- section
  //-   p chessboard will go here
  //-   p #{myItems.length}
  //-   ul
  //-     each val in myItems
  //-       li(class=val) somecolor
  //-   div(id="myhover") hoverme
  section
    p Thanks for downloading and running <a href="http://semu.mp/node-blog.html">node-blog</a>, I really appreciate it! With node-blog you have a basic weblog system written in Node.js managed by a folder containing markdown files. All article composing can be done within the web browser using the awesome <a href="http://ace.ajax.org/">Ace editor</a>. Unfortunately there is no other way for changing the layout or static pages than to manually edit the raw jade templates, this may change in future releases…
    p You are viewing the first release of node-blog, please be kind ;) All needed information to start your own blog using node-blog and how to customize the design can be found in the <code>markdown/</code> folder or as <a href="/posts">posts on this site</a>.
  section#article
    .page-header
      h1 Recent Articles 
        small #{list.length} available, showing recent 5  
  - for (var i = 0; i < list.slice(0, 5).length; i++) 
    .row
      .span2.datefield
        code=list[i].datestring
      .span14.cLeft
        h3
          a(href=list[i].url) #{list[i].name} 
          small
            abbr.timeago(title=list[i].date.toISOString()) list[i].date.toISOString()
    .row
      .offset2.span14.cLeft
        #content!=list[i].excerpt          